//<footer> content here </footer>
//footer {position: absolute; bottom: 0;}

h1 {
  text-align: center;
}

.app {
  width: 500px;
  height:800px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
position: absolute; bottom: 0;

}

body {
  background:
}
