//<footer> content here </footer>
//footer {position: absolute; bottom: 0;}


h1 {
  text-align: center;
}

body {
  background-color: aqua;
  background-image: url("../assets/img/3dpaper.jpg")
  no-repeat center center fixed;
    background-size: cover;
}

#app {
  width: 500px;
  height:800px;
  margin-left: auto;
  margin-right: auto;
}

.input {
  position: absolute; bottom: 0;
}

.goal-output {
  position: fixed; bottom: 0;
}
